{% extends "base.html" %}

{% block content %}
<main class="form-signin w-100 m-auto">
    <h1 class="h3 mb-3 font-weight-bolder fs-1"  style="display: flex; width: 70%; margin: auto;">Ваш профиль</h1>
    <div class="card" style="display: flex; width: 70%; margin: auto;">
        <div class="card-body">
            <h2 class="card-title font-weight-bold">Электронная почта</h2>
            <p class="font-weight-normal fs-5">{{ user.email }}</p>
            <br>
            <h2 class="card-title font-weight-bold">Пароль</h2>
            <p class="font-weight-normal fs-5">•••••••••••••••••••••••</p>
            <a href="{{ url_for('user_change', id=current_user.id) }}" class="btn btn-primary" type="button">Изменить пароль</a>
        </div>
    </div>
</main>

<div class="cart">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Корзина</h2>
            <!-- Здесь будет содержимое корзины с текущими товарами -->
        </div>
    </div>
</div>
{% endblock %}
