<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
<main class="form-signin w-100 m-auto">
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <a href="/"><img src="{{ url_for('static', filename='img/header/logo.png') }}" width="200px"></a>
    <h1 class="h3 mb-3 fw-normal">Регистрация</h1>

    <div class="form-floating">
        {{ form.email(type="email", class="form-control", id="floatingInput", placeholder="name@example.com") }}
        <label for="floatingInput">Электронная почта</label>
        {% for error in form.email.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>
    <div class="form-floating">
        {{ form.password(type="password", class="form-control", id="floatingPassword", placeholder="Password") }}
        <label for="floatingPassword">Пароль</label>
        {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>
    <div class="form-floating">
        {{ form.password_again(type="password", class="form-control", id="floatingPasswordAgain", placeholder="Password again") }}
        <label for="floatingPasswordAgain">Повторить пароль</label>
        {% for error in form.password_again.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
        <form method="POST">
            <input type="text" id="address" name="address">
            <button type="submit">Сохранить</button>
        </form>
        {% if map_url %}
            <img src="{{ map_url }}" alt="Map">
        {% endif %}
    </div>
    <p>{{ form.submit(class="btn btn-primary w-100 py-2 fs-5 fw-bold", type="submit") }}</p>
    <p>Уже есть аккаунт? <a href="/login" class="link-offset-1">Войти</a></p>
    <div>{{ message }}</div>
  </form>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
