.kartochka {
    width: 45vh;
    height: 28vh;
}
.shirina {
    width: 70%;
}
.qwe {
    display: inline-block;
    width: 33%;
}
body {
    height: 100vh;
}



@media only screen and (max-width: 931px) {
    /* Медиа-запрос для iPad'ов */
    .kartochka {
        width: 40vh;
        height: 25vh;
    }
}

@media only screen and (max-width: 560px) {
    /* Медиа-запрос для телефонов */
    .kartochka {
        width: 37vh;
        height: 23vh;
    }
    .shirina {
        width: 90%;
    }
}