@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

.foto41 {
    margin: 15px;
    width: 30%;
}
.part2 {
    background-color: white;
    padding-bottom: 20px;
    font-family: "Monterrat", sans-serif;
    text-align: center;
}
.part2-text1{
    margin-bottom: 25px;
    margin-top: 50px;
}
.part2-text2{
    font-size: 13px;
    font-weight: 100;
    max-width: 700px;
    margin: auto;
}
.contener3{
   max-width: 900px;
    margin: auto;
}
.part3 {
    background: linear-gradient(5deg, #7e9ede 23.07%, #97d0ff 70%, #ffffff 70%);
    text-align: center;
}
.text1-3 {
    margin-bottom: 35px;
    margin-top: 130px;
    font-weight: 800;
    text-align: center;
}
.text2-3 {
    border-radius:30px;
    background-color: white;
    box-shadow: 10px 10px 0 #6189e0;
    padding: 20px;
    font-weight: 100px;
    font-size: 13px;
}
.left-part3 {
    display: inline-block;
    width: 45%;
    vertical-align: center;
}
.part5 {
    position: relative;
}
.fon5 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.title5 {
    font-weight: 800;
    margin-bottom: 20px;
}
.spisok5{
    margin-left: 20px;
    list-style-type: circle;
}
.card1 {
    position: relative;
    left: -100px;
}
.card2 {
    position: relative;
    left: 100px;
}
.card3 {
    position: relative;
    left: -80px;
}
.e5 {
    border-radius: 15px;
    border: 3px solid #97c9ff;
    padding: 25px;
    margin: 40px auto ;
    box-shadow: 9px 12px 0px 0px #617fe0;
    width: 550px;
    z-index: 3;
    background-color: white;
}
.f15{
    position: sticky;
    top: 45%;
    width: 280px;
}
.f25 {
    position: absolute;
    width: 480px;
    bottom: 0;
    right: 0;
}
.f23{
    filter: hue-rotate(240deg);
}
.text555{
    margin-top: 90px;
}
.part4 {
    background: linear-gradient(-20deg,  #ffffff 45.63%, #7e9ede 45.64%);
}
.kart4 {
    border-radius: 15px;
    border: 5px solid #97c6ff;
    background-color: white;
    text-align: center;
    width: 25%;
    margin: auto;
    display: inline-block;
    margin-left: 5%;
}
.hhr1 {
    background-color:  #6194e0;
    width: 170px;
    height: 3px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.text41{
    font-weight: 900;
    font-size: 45px;
    color: white;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5% ;
}
.d2{
    text-align: center;
    margin: auto;
    display: flex;
}
.d1{
    text-align: center;
    margin: auto;
    display: flex;
    margin-bottom: 100px;
    width: 50%;
}
.text42{
    font-weight: 700;
    font-size: 25px;
}
.text43 {
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 40%;
}
.phone-foto {
    display: none;
}
.kart4 {
    border-radius: 15px;
    border: 5px solid #97dcff;
    background-color: white;
    text-align: center;
    width: 25%;
    margin: auto;
    display: inline-block;
    margin-left: 5%;
}


@media(max-width: 768px)
{
    .left-part3{
        display: block;
        width: 100%;
    }
    .right-part3{
        display: block;
        width: 100%;
    }
    .right-part3 img {
        margin: 0;
    }
    .kart4 {
        display: block;
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
    .e5 {
        width: 80%;
        box-shadow: 0 15px 0 #617ce0;
        margin-top: 20px;
    }
    .card1, .card2, .card3 {
        left: 0;
    }
    .table1 {
        display:none ;
    }
    .phone-foto {
        display: block;
    }
    .fotopart6{
        width: 80%;
        margin: auto;
        display: block;
        margin-top: 60px;
    }
    .f25{
        height: 0%;
    }
    .f15{
        height: 0%;
    }
    .part2-text2{
        width: 80%;
        margin: auto;
    }
    .text2-3{
        width: 80%;
        margin: auto;
        box-shadow: 0 0 0 #6189e0;
    }
    .v234 {
        display: block;
        width: 100%;

}
}