{% extends "base.html" %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
</head>

<body class="qwerty">
  <div class="container1234">
   <div class="container431">
    <!-- Блок с приветствием -->
    <div class="row hero-section">
      <div class="">
        <h1 class="text1 e">Azon — ваш надежный онлайн-магазин</h1>
        <p class="text2 f43">Мы стремимся предоставить вам непревзойденный опыт покупок и считаем, что каждый
            заслуживает возможности наслаждаться широким выбором качественных
            товаров по конкурентоспособным ценам.</p>
      </div>
            <hr style="height: 5px; color: white; width: 80%; margin: auto; margin-top: 50px;">
    </div>

    <!-- Блок с информацией о компании -->
    <div class="row about-section">
      <div class="col-md-12">
        <div class="about-text">
          <h2 class="text1">О нас</h2>
          <p class="text2">В Azon мы предлагаем широкий ассортимент товаров, включая электронику, одежду, товары для дома, красоту и
            многое другое. Наша команда экспертов тщательно отбирает каждый продукт, чтобы гарантировать, что вы
            получаете только лучшее.</p>
          <p class="text2 r">Мы ставим удовлетворение клиентов на первое место во всем, что мы делаем. Мы стремимся предоставлять
            высококачественные продукты, которые соответствуют вашим ожиданиям. Мы считаем, что каждый должен иметь
            доступ к качественным товарам, независимо от своего бюджета. Мы упрощаем процесс покупки, чтобы вы могли
            найти то, что ищете, быстро и легко.</p>
        </div>
      </div>
    </div>
   </div>

    <!-- Блок с информацией о компании Azon -->
    <div class="part5">
      <div class="contener3">
      <div class="text5">
          <h1 class="text1-3 text555" id="pch12">Почему Azon?</h1>
          <div class="card1 e5">
              <h3 class="title5">Широкий ассортимент товаров</h3>
              <p>Мы предлагаем разнообразные товары, включая электронику, одежду, товары для дома, красоту и многое другое.</p>
          </div>
          <div class="card2 e5">
              <h3 class="title5">Высокое качество продукции</h3>
              <p>Наша команда экспертов тщательно отбирает каждый продукт, чтобы гарантировать, что вы получаете только лучшее.</p>
          </div>
          <div class="card3 e5">
              <h3 class="title5">Удовлетворение клиентов</h3>
              <p>Мы стремимся предоставлять высококачественные продукты, которые соответствуют вашим ожиданиям.</p>
          </div>
      </div>
      <div class="fon5">
      <img src="{{ url_for('static', filename='img/about/advantages_bg_2.svg') }}" class="f15">
      <img src="{{ url_for('static', filename='img/about/advantages_bg_1.svg') }}" class="f25">
      </div>
      </div>
  </div>
<div class="part5" style="margin-top: 200px;">
    <div class="contener4">
    <div class="text5">
        <h1 class="text1-8 text555">Самое время приступить к покупкам!</h1>
        <a href="{{ url_for('shop.register') }}" class="btn btn-primary d1"><p class="fs-4 d2">Начать покупки</p></a>
    </div>
    </div>
</div>

</div>
</body>
{% endblock %}
