{% extends "base.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shopreg.css') }}">
</head>
<main class="form-signin w-100 m-auto">
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <a href="/"><img src="{{ url_for('static', filename='img/header/logo.png') }}" width="200px"></a>
    <h1 class="h3 mb-3 fw-normal">Товар</h1>

    <div class="form-floating">
        {{ form.name(type="text", class="form-control", id="floatingInput", placeholder="Название товара") }}
        <label for="floatingInput">Название товара</label>
        {% for error in form.name.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>
    <div class="form-floating">
        {{ form.price(type="number", class="form-control", id="floatingInput", placeholder="Цена") }}
        <label for="floatingInput">Цена</label>
        {% for error in form.price.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>
    <div class="form-floating">
        {{ form.about(class="form-control", id="floatingPassword", style="height: 400px") }}
        <label for="floatingPassword" class="fs-5">Описание товара</label>
        {% for error in form.about.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>
    <div class="form-group">
        <label for="category1" class="fs-4" style="margin-bottom: 10px">Категории</label>
        {{ form.category1(class="form-control", id="category1") }}
    </div>
    <div class="form-group">
        {{ form.category2(class="form-control", id="category2") }}
    </div>
    <div class="form-group">
        {{ form.category3(class="form-control", id="category3") }}
    </div>
    <div class="form-group">
        <label for="img" class="fs-4" style="margin-bottom: 10px">Фото товара</label>
        {% if item.img or item %}
            <img src="data:image/png;base64,{{ logo_data }}" alt="Current Image" style="width: 0px; margin-bottom: 10px;">
        {% endif %}
        {{ form.img(type="file", class="form-control", id="img", placeholder="Фото") }}

        {% for error in form.img.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <p>{{ form.submit(class="btn btn-primary w-100 py-2 fs-5 fw-bold", type="submit") }}</p>
    <div>{{ message }}</div>
  </form>
</main>
{% endblock %}