.card-container {
    display: flex;
    margin: 50px auto;
    width: 75%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-container {
    display: flex;
    width: 95%;
    margin: 20px auto;
}

.search-input {
    flex: 1;
    margin-right: 10px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.card-body {
    text-align: center;
}

.card-title {
    font-weight: bold;
}