.kartochka {
    width: 45vh;
    height: 28vh;
}
.shirina {
    width: 70%;
}
.qwe {
    display: inline-block;
    width: 33%;
}
body {
    height: 100vh;
    background: linear-gradient(0deg, rgba(91,84,239,1) 1%, rgba(84,139,239,1) 3%, rgba(255,255,255,1) 9%);
}



@media only screen and (max-width: 931px) {
    /* Медиа-запрос для iPad'ов */
    .kartochka {
        width: 40vh;
        height: 25vh;
    }
}

@media only screen and (max-width: 560px) {
    /* Медиа-запрос для телефонов */
    .kartochka {
        width: 38vh;
        height: 30vh;
    }
    .shirina {
        width: 90%;
    }
}