.iiii {
    width: 224px;
    height: 292px;
    display: inline-block;
    margin: 30px 15px;
    position: relative;
}

.ppp {
    overflow-wrap: break-word;
    overflow: hidden;
    text-align: center;
    margin: auto;
    height: 30px;
    margin-top: -10px;
}

.okj {
    margin-left: 10px;
}
.iiii img {
    width: 220px;
    height: 220px;
}


@media only screen and (max-width: 931px) {
    /* Медиа-запрос для iPad'ов */
    .v234 {
        display: block;
        width: 100%;
        margin-top: 20px;
    }
    .ttt {
        height: 150%;
        margin-right: 40px;
    }
    .iiii {
        width: calc((89% - 30px * 3) / 2);
        height: 340px;
        margin: 30px;
    }
    .iiii img {
        height: 260px;
        width: 260px;
    }
}

@media only screen and (max-width: 560px) {
    /* Медиа-запрос для телефонов */
    .v234 {
        width: 100%;
        margin-top: 20px;
    }
    .iiii {
        width: calc((100% - 15px * 3) / 2);
        height: 230px;
        margin: 10px;
    }
    .iiii img {
        height: 40.5vw;
        width: 100%;
    }
}
