/* Base styles */

.ppp {
    overflow-wrap: break-word;
    overflow: hidden;
    text-align: center;
    margin: auto;
    height: 30px;
    margin-top: -10px;
}

.okj {
    margin-left: 10px;
}

.iiii img {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: auto;
}

.iiii {
    width: calc((95% - 61px) / 5);
    height: auto;
    display: inline-block;
    margin: 20px 10px;
    position: relative;
}

/* Media queries for different screen sizes */
@media only screen and (max-width: 1200px) {
    .iiii {
        width: calc((95% - 50px) / 4);
    }
}

@media only screen and (max-width: 931px) {
    /* Media query for iPads */
    .iiii {
        width: calc((95% - 35px) / 3);
    }
}

@media only screen and (max-width: 768px) {
    /* Media query for smaller tablets */
    .iiii {
        width: calc((95% - 35px) / 3);
    }
}

@media only screen and (max-width: 560px) {
    /* Media query for phones */
    .iiii {
        width: calc((95% - 28px) / 2);
    }
}