.logo-image {
    width: 230px;
    height: 230px;
    margin-right: 40px;
}

@media only screen and (max-width: 931px) {
    .logo-image {
        width: 100%;
        height: auto;
        max-width: 230px;
    }
}

@media only screen and (max-width: 560px) {
    .logo-image {
        width: 100%;
        height: auto;
        max-width: 150px;
    }
}