{% extends "base.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user-profile.css') }}">
</head>
<main class="form-signin w-100 m-auto">
    <h1 class="h3 mb-3 font-weight-bolder fs-1 text-center">Ваш профиль</h1>
    <div class="card mx-auto" style="width: 70%; border: None;">
        <div class="card-body">
            <h2 class="card-title font-weight-bold">Электронная почта</h2>
            <p class="font-weight-normal fs-5">{{ user.email }}</p>
            <br>
            <h2 class="card-title font-weight-bold">Пароль</h2>
            <p class="font-weight-normal fs-5" style="margin: 5px;">•••••••••••••••••••••••</p>
            <a href="{{ url_for('user_profile.change_password', id=current_user.id) }}" class="btn btn-secondary">Изменить пароль</a>
            <br>
            <h2 class="card-title font-weight-bold" style="margin-top: 18px; margin-bottom: 5px;">Адрес</h2>
            <p class="font-weight-normal fs-5" style="margin: 5px;">{{ user.address }}</p>
            <a href="{{ url_for('location.address') }}" class="btn btn-secondary">Изменить адрес</a>
        </div>
    </div>
</main>

<div class="shape shape1 circle"></div>
<div class="shape shape2"></div>
<div class="shape shape3 circle"></div>

{% endblock %}
