{% extends "base.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/item.css') }}">
</head>
<body>
    <h2 class="mt-4" style="margin-bottom: 20px;">{{ name }}</h2>
    {% for item in items %}
    <a href="{{ url_for('item.profile', article=item.article) }}" style="color: black; text-decoration: none;">
    <div class="col-md-6 border rounded-3 iiii border-2">
        <div style="margin: auto;">
            {% if item.logo_data %}
            <img src="data:image/jpeg;base64,{{ item.logo_data }}" alt="Фото товара" class="rounded-3 border-3" style="margin-right: 40px;">
            {% endif %}
            <div>
                <h2 class="okj">{{ item.price }} ₽</h2>
            </div>
            <div>
                <p style="max-width: 200px; text-align: center;" class="ppp">{{ item.name }}</p>
            </div>
        </div>
    </div>
    </a>
    {% endfor %}
</body>
{% endblock %}